{% include "base.html" %}

{% block content %}
{% include "unievents/event_list/base.html" %}
<div class="event-wrap">
    <h1>This Year's Events</h1>

    <input type="text" id="events_input" class="search__bar" onkeyup="searchDBEntity('events_input', 'events_list')" placeholder="Search..">
    <div id="event_area">
      <ul id="events_list" class="search__list">
      {% for event in filtered_events %}
          <li><a href="{% url 'events_view' event.id %}"><p>{{event.summary}}</p><div>{{ event.dtstart }}</div><div>{{ event.description }}</div></a></li>
      {% empty %}
          <li>No events found.</li>
      {% endfor %}
      </ul>
      <div id="tag_box">
        <h2>Tags</h2>
        <ul id="tag_list">
        {% for event in filtered_events %}
          <li>{{ event.tags }}</li>
        {% empty %}
          <li>No tags found.</li>
        {% endfor %}
      </div>
    </div>
</div>

<script>
  let tags = [{% for t in event.tags %} "{{t}}", {% endfor %}];
</script>

{% endblock %}
